/* * {
    border: 1px solid red;
} */

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    background-image: url('images/gorilla.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Header */

.header {
    background-color: #004382;
}

.header a {
    text-decoration: none;
    color: #F7BAB1;
}

.header a:hover {color: red}

.header ul {
    display: flex;
    padding: 0.5rem 1rem;
    margin: 0;
    list-style-type: none;
    justify-content: space-between;
}

.header .right-side {
    display: flex;
    gap: 1rem;
}

/* Title Section */

.title-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    text-align: center;
    min-height: 35rem;
}

.title-section h1 {
    color: #004382;
    font-size: 3rem;
}

.title-section p {
    color: #F7BAB1;
}

/* Information Section */

.information ul {
    list-style-type: none;
}